#!/bin/bash
. {{project_virtualenv_directory}}/bin/activate
cd {{project_directory}}

# hakish, but wait for db container to be really up
while ! nc -w 1 -z db 5432; do sleep 0.1; done;

USER={{project_user}} PYTHONPATH={{project_additional_py_path}} python manage.py migrate --settings=commands

uwsgi --ini uwsgi.ini
