from sampleapp.settings import *

{% if project_domain is defined  %}
BASE_URL = '{{ project_domain }}'
{% endif %}

DATABASES = {
  'default': {
      'ENGINE': 'django.db.backends.postgresql_psycopg2',
      'NAME': '{{database_user}}',
      'USER': '{{database_user}}',
      'PASSWORD': '{{database_password}}',
      'HOST': '{{database_host}}',
      'PORT': '',
  }
}

SECRET_KEY = '{{project_secret}}'

PRIVATE_FILES_ROOT = '/home/{{project_user}}/data/private_files/'

STATIC_ROOT = '/home/{{project_user}}/collected_static/'
